﻿@{
    ViewData["Title"] = "Backyard";
    Layout = "_Login";
}

<div class="col-sm-9 col-md-7 col-lg-5 pl-0 pr-0">
    <div class="card border-0 shadow rounded-3 my-5 d-flex" style="">
        <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-4 fw-light fs-5">Login</h5>
                <div class="form-floating mb-3">
                    <label for="floatingInput" class="text-black font-weight-bold">Username</label>
                    <input type="text" class="form-control" id="Username" placeholder="Input Your Username">
                </div>
                <div class="form-floating mb-2">
                    <label for="floatingPassword" class="text-black font-weight-bold">Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Input Your Password">
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div>
                       &nbsp;<br />
                    </div>
                    <div>
                       &nbsp;<br />
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <button class="btn btn-green" style="width: 200px;" onclick="processLogin()">Login</button>
                </div>
        </div>
    </div>
</div>