﻿
@{
    Layout = "_Error";
    string error_code = ViewData["error_code"].ToString();
    string error_msg = ViewData["error_msg"].ToString();
    string baseUrlApps = Environment.GetEnvironmentVariable("APP_BASE_URL");
}
<link href="/dist/css/404.css" rel="stylesheet">
<div class="row">
    <div class="col-md-12 text-center text-white">
        <span class="display-1 d-block">@error_code</span>
        <div class="mb-4 lead">@error_msg</div>
        <div class="buttons-con">
            <div class="action-link-wrap">
                <a onclick="history.back(-1)" class="link-button link-back-button">Go Back</a>
                <a href="@baseUrlApps" class="link-button">Go to Home Page</a>
            </div>
        </div>
    </div>
</div>
