<link rel="stylesheet" href="./bundles/layout.min.css">
<!-- <link rel="stylesheet" href="./bundles/layout.min.css"  > -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<body>

    <form class="p-2">
        <table width="100%">
            <tr width="100%">
                <td width="50%">
                    BO Number: <span id="lblBoNumber"></span>
                </td>
                <td width="50%">
                    Batch Number:
                </td>
            </tr>
            <tr width="100%">
                <td width="50%">
                    Production Line:
                    </div>
                <td width="50%">
                    Page Number:
                </td>
            </tr>
            <tr width="100%">
                <td width="50%">
                    Product Code:
                </td>
                <td width="50%">
                    Print Date:
                </td>
            </tr>
        </table>

        <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: 1rem;">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab1" data-toggle="tab" data-bs-target="#btab1" type="button"
                    role="tab" aria-controls="btab1" aria-selected="true">ALL</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab2" data-toggle="tab" data-bs-target="#btab2" type="button" role="tab"
                    aria-controls="btab2" aria-selected="false">OPR</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab3" data-toggle="tab" data-bs-target="#btab3" type="button" role="tab"
                    aria-controls="btab3" aria-selected="false">OKM</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="btab1" role="tabpanel">
                <h5>Usage Transaction Summary</h5>
                <table width="100%">
                    <tr>
                        <td width="40%">Component Class Description</td>
                        <td width="30%">Standard Usage</td>
                        <td width="30%">Total Usage</td>
                    </tr>
                    <tr>
                        <td>Direct labour</td>
                        <td><span id="lblVal11">1</span></td>
                        <td><span id="lblVal12">1</span></td>
                    </tr>
                    <tr>
                        <td>Equipment</td>
                        <td><span id="lblVal11">1</span></td>
                        <td><span id="lblVal12">1</span></td>
                    </tr>
                    <tr>
                        <td>FOH Depre Indirect</td>
                        <td><span id="lblVal21">1</span></td>
                        <td><span id="lblVal22">1</span></td>
                    </tr>
                    <tr>
                        <td>FOH Depre Support</td>
                        <td><span id="lblVal31">1</span></td>
                        <td><span id="lblVal32">1</span></td>
                    </tr>
                    <tr>
                        <td>FOH Indirect</td>
                        <td><span id="lblVal41">1</span></td>
                        <td><span id="lblVal42">1</span></td>
                    </tr>
                    <tr>
                        <td>FOH Support</td>
                        <td><span id="lblVal51">1</span></td>
                        <td><span id="lblVal52">1</span></td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="btab2" role="tabpanel">
                <h5>Usage Transaction Summary</h5>
                <table>
                    <tr>
                        <td>Component Class Description</td>
                        <td>Standard Usage</td>
                        <td>Total Usage</td>
                    </tr>
                    <tr>
                        <td>Granulation</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Tabletting</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Coating</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="btab3" role="tabpanel">
                <h5>Usage Transaction Summary</h5>
                <table>
                    <tr>
                        <td>Component Class Description</td>
                        <td>Standard Usage</td>
                        <td>Total Usage</td>
                    </tr>
                    <tr>
                        <td>Blistering</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Cartoning</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Wrapping</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Casepacker</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</body>
<script src="./bundles/layout.header.min.js"></script>
<script src="./bundles/layout.footer.min.js"></script>