﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <bundle name="wwwroot/bundles/layout.min.css" />
</head>


<body style="background-color: #32cd32; overflow: hidden; ">
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
