﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <bundle name="wwwroot/bundles/layout.min.css" />
    <bundle name="wwwroot/bundles/layout.header.min.js" />
    @await Html.PartialAsync("Partials/_HeaderAddon")
    <link href="/plugins/apps/css/custom.css" rel="stylesheet">
    <script src="/plugins/apps/js/apps.js"></script>
</head>
@{
    var BaseUrlNotif = Environment.GetEnvironmentVariable("NOTIF_BASE_URL") + Environment.GetEnvironmentVariable("NOTIF_MODULE");// getConfig["BaseUrl"] + getConfig["module"];
    var url = Environment.GetEnvironmentVariable("NOTIF_BASE_URL") + Environment.GetEnvironmentVariable("NOTIF_HUB"); //getConfig["BaseUrl"] + getConfig["hub"];
    var AppKey = Environment.GetEnvironmentVariable("EPM_APP_KEY");
    var UserID = HttpContextAccessor.HttpContext.Session.GetString("UserID");
    var RoleID = HttpContextAccessor.HttpContext.Session.GetString("RoleID");

}
<body class="navbar-top">
    <input type="hidden" id="xUserIDx" value="@UserID" />
    <input type="hidden" id="xRoleIDx" value="@RoleID" />
    <input type="hidden" id="signalRHub" value="@url" />
    <input type="hidden" id="BaseUrlNotif" value="@BaseUrlNotif" />
    <input type="hidden" id="AppKeysignalRHub" value="@AppKey" />
    <input type="hidden" id="UserIDsignalRHub" value="@UserID" />

    <!-- PACE.js loader -->
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>
    @await Html.PartialAsync("Partials/_MainNavbar")

    <div class="page-content">
        @await Html.PartialAsync("Partials/_MainSidebar")
        <div class="wrapper-page-load">
            @RenderBody()
        </div>
    </div>

    <bundle name="wwwroot/bundles/layout.footer.min.js" />
    <script>
        eva.replace();
    </script>
</body>

</html>
