﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <bundle name="wwwroot/bundles/layout.min.css" />
    <bundle name="wwwroot/bundles/layout.header.min.js" />
    @await Html.PartialAsync("Partials/_HeaderAddon")
    <script src="/plugins/apps/js/apps.js"></script>
</head>

<body style="background-image: linear-gradient(#076935, #6D9834) ;overflow: hidden;">
    <div class="container">
        <div class="row justify-content-center">
            @RenderBody()
        </div>
    </div>
</body>
<script src="/dist/js/alertify.js"></script>
<script src="/plugins/apps/js/custom.js"></script>
<script id="pagejs" src="/pages/Login/LoginForm.js"></script>
</html>
