:root {
    --theme-color: hsl(207, 85%, 50%);
    --theme-body: hsl(0, 0%, 97%);
    --theme-body-alpa: hsla(0, 0%, 97%, .9);
    --theme-font: #292929;
    --theme-color-main: var(--theme-color);
    --theme-color-second: hsl(315, 100%, 55%);
    --theme-color-light: hsl(273, 85%, 70%);
    --theme-color-deep: hsl(273, 85%, 35%);
    --theme-color-alpha-7: hsla(207, 85%, 50%, .07);
    --theme-color-alpha-5: hsla(207, 85%, 50%, .05);
    --theme-shadow-main: 0 10px 20px hsla(207, 85%, 55%, 0.2), 0 5px 10px -5px hsl(207, 85%, 55%);
    --theme-shadow-btn: 0 5px 5px -5px hsla(273, 85%, 49%, 0.7);
    --theme-border-deep: hsl(273, 15%, 65%);
    --theme-border-main: hsl(273, 15%, 80%);
    --theme-border-light: hsl(273, 15%, 90%);
	--theme-gradient: linear-gradient(46deg, var(--theme-color-main), var(--theme-color-second)) border-box;
    --theme-navbar: hsl(360, 90%, 50%);
    
    --color-primary-main: hsl(207, 85%, 49%);
    --color-primary-deep: hsl(207, 85%, 35%);
    --color-primary-light: hsl(207, 85%, 70%);
    --color-primary-second : hsl(180, 100%, 55%);

    --color-secondary-main: hsl(205, 20%, 49%);
    --color-secondary-deep: hsl(205, 20%, 35%);
    --color-secondary-light: hsl(205, 20%, 70%);
    --color-secondary-second : hsl(205, 50%, 90%);

    --color-success-main: hsl(130, 85%, 49%);
    --color-success-deep: hsl(130, 85%, 35%);
    --color-success-light:hsl(130, 85%, 70%);
    --color-success-second : hsl(56, 100%, 55%);

    --color-danger-main: hsl(347, 85%, 49%);
    --color-danger-deep: hsl(347, 85%, 35%);
    --color-danger-light: hsl(347, 85%, 70%);
    --color-danger-second : hsl(293, 100%, 55%);

    --color-warning-main: hsl(49, 85%, 49%);
    --color-warning-deep: hsl(49, 85%, 35%);
    --color-warning-light: hsl(49, 85%, 70%);
    --color-warning-second : hsl(24, 100%, 55%);
    
    --color-info-main: hsl(182, 85%, 49%);
    --color-info-deep: hsl(182, 85%, 35%);
    --color-info-light: hsl(182, 85%, 70%);
    --color-info-second : hsl(145, 100%, 55%);

    --shadow-primary-main: 0 10px 20px hsla(207, 85%, 55%, 0.2), 0 5px 10px -5px hsl(207, 85%, 55%);
    --shadow-primary-btn: 0 5px 5px -5px hsla(207, 85%, 49%, 0.7);
    --shadow-secondary-main: 0 10px 20px hsla(205, 20%, 55%, 0.2), 0 5px 10px -5px hsl(205, 20%, 55%);
    --shadow-secondary-btn: 0 5px 5px -5px hsla(205, 20%, 49%, 0.7);
    --shadow-success-btn: 0 5px 5px -5px hsla(130, 85%, 49%, 0.7);
    --shadow-danger-main: 0 10px 20px hsla(347, 85%, 55%, 0.2), 0 5px 10px -5px hsl(347, 85%, 55%);
    --shadow-danger-btn: 0 5px 5px -5px hsla(347, 85%, 49%, 0.7);
    --shadow-success-main: 0 10px 20px hsla(130, 85%, 55%, 0.2), 0 5px 10px -5px hsl(130, 85%, 55%);
    --shadow-warning-main: 0 10px 20px hsla(49, 85%, 55%, 0.2), 0 5px 10px -5px hsl(49, 85%, 55%);
    --shadow-warning-btn: 0 5px 5px -5px hsla(49, 85%, 49%, 0.7);
    --shadow-info-main: 0 10px 20px hsla(182, 85%, 55%, 0.2), 0 5px 10px -5px hsl(182, 85%, 55%);
    --shadow-info-btn: 0 5px 5px -5px hsla(182, 85%, 49%, 0.7);
    --shadow-default-main: 0 10px 20px hsla(0, 1%, 80%, 0.2), 0 5px 10px -5px hsl(0, 1%, 80%);
    --shadow-default-btn: 0 5px 5px -5px hsla(0, 1%, 80%, 0.7);

    --shadow: 0px 15px 50px 0px rgba(82, 63, 105, 0.15);
    --shadow-dropdown: var(--shadow);
}

/**
 * # Layout
**/

html,
body {
    font-size: .9375rem;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
body {
    flex: 1;
    -ms-flex: 1;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    background: linear-gradient(var(--theme-navbar) 250px, var(--theme-body) 0%);
    /* transition: background-color 150ms linear; */
} 
.main {
    -ms-flex: 1;
    flex: 1;
    display: flex;
    display: -ms-flexbox;
}
.container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.navbar.fixed-top ~ .main {
    padding-top: 75px;
}
.content {
    flex-grow: 1;
    position: relative;
    /* margin-bottom: 1.25rem; */
}
.footer {
    margin-top: -75px;
    padding: 2rem 0;
    padding-top: 95px;
    font-size: .8125rem;
    /* color: #ffffff; */
    /* background-color: #212529; */
    background-color: hsl(0, 0%, 94%);
}

/**
 * # Grid
**/

.row {
    margin-left: -.625rem;
    margin-right: -.625rem;
}
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,
.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,
.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,
.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,
.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,
.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,
.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,
.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,
.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,
.col-xl-8,.col-xl-9,.col-xl-auto {
    padding-left: .625rem;
    padding-right: .625rem;
}

/**
 * # Typography
*/

a {
    color: inherit;
    text-decoration: none !important;
    outline: 0 !important;
    cursor: pointer;
}
a:hover {
    color: var(--theme-color-main);
}
a.active {
    color: #ffffff;
    background-position: center;
    border-color: var(--theme-color-main);
}

p {
    margin-bottom: 0;
}

/**
 * # Icon
**/

.icon {
    line-height: 1;
    font-size: 1rem;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
 }
 h1.icon, h2.icon, h3.icon, h4.icon, h5.icon, h6.icon,
 h1 .icon, h2 .icon, h3 .icon, h4 .icon, h5 .icon, h6 .icon,
 .h1.icon, .h2.icon, .h3.icon, .h4.icon, .h5.icon, .h6.icon,
 .h1 .icon, .h2 .icon, .h3 .icon, .h4 .icon, .h5 .icon, .h6 .icon {
    font-size: inherit;
 }
 .icon.spinner {
    font-size: 1.125rem !important;
    -webkit-animation: iconSpins 2s infinite linear;
    animation: iconSpins 2s infinite linear
}
@-webkit-keyframes iconSpins {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}
@keyframes iconSpins {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

/**
 * # Navbar
**/

.navbar {
    /* padding: .9rem 2.5rem; */
    /* padding: .9rem 5.5rem; */
}
.navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    flex-direction: unset;
    overflow: unset;
}
.navbar.navbar-expand-lg {
    background-color: var(--theme-navbar) !important;
}
.navbar.fixed-top.shadows {
    -webkit-box-shadow: 0 0px 10px 0px rgb(255, 0, 0);
            box-shadow: 0 0px 10px 0px rgb(255, 0, 0);
}
.navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, .8);
}
.navbar-nav .nav-link {
    border-radius: .25rem;
    margin-top: .375rem;
}
.navbar-expand-lg .navbar-nav .nav-item,
.navbar-nav .nav-link:not(.disabled) {
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: .55rem 1.1rem;
}
.navbar-expand-lg .navbar-nav .nav-link-icon {
    padding: .55rem 0.75rem;
}
.navbar-expand-lg .navbar-nav .nav-link-icon .icon {
    font-size: 1.1875rem;
}
.navbar-nav .nav-item:not(.active) .nav-link:hover {
    background-color: rgba(0, 0, 0, .07);
}
@media only screen and (max-width: 991px) {
    .navbar {
        padding: 1rem;
    }
    .navbar-expand-lg .navbar-nav .nav-link-icon {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav > .nav-item > .nav-link.dropdown-toggle:after {
        position: absolute;
        margin-right: 13px;
        margin-top: 5px;
        right: 0;
    }
    .navbar-collapse {
        border: thin solid rgba(0, 0, 0, .05);
        background-color: rgba(0, 0, 0, .05);
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
    .navbar-nav .nav-link {
        border-radius: 0;
    }
}

/**
 * # Dropdown
**/

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: .25rem;
    box-shadow: var(--shadow-dropdown);
}
.dropdown-item {
    font-size: .9375rem;
    padding: .625rem 1.25rem;    
}
.dropdown-toggle.caret-0:after {
    display: none;
}
.dropdown-toggle:after {
    content: "\f3d0";
    font-family: 'Ionicons';
    border: 0;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: transform .25s ease-in-out;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}
.dropdown-item:focus, 
.dropdown-item:hover {
    color: var(--theme-color-main);
    background-color: var(--theme-color-alpha-7);
}
.dropleft .dropdown-toggle:before {
    content: "\f124";
    position: static;
    margin-right: .9375rem;
    -webkit-transform: none;
       -moz-transform: none;
            transform: none;
}
.dropright .dropdown-toggle:after {
    content: "\f125";
}
.dropleft .dropdown-toggle:before,
.dropright .dropdown-toggle:after {
	font-family: 'Ionicons';
	border: 0;
    vertical-align: 0;
}
.dropup .dropdown-toggle:after {
    content: "\f126";
    border: 0;
    width: auto;
    height: auto;
}
.dropdown:not(.dropup) .btn.dropdown-toggle:after {
	content: "\f123";
}
.dropdown-toggle:after,
.dropup .dropdown-toggle:after {
    vertical-align: 0;
}

/**
 * # Header
**/

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.content .header {
    width: auto !important;
}
/* .content .sticky-wrapper:not(.is-sticky) .header {
    padding: 0px;
    margin: -20px;
    margin-bottom: 15px;
} */
.header-container,
.header-element {
    padding: 1.25rem 0 2.1875rem 0;
    /* padding: 1.25rem 0 1.1875rem 0; */
    align-self: center;
}
.header-container .title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0.3125rem;
}
.header-container .subtitle {
    opacity: .7;
    margin-bottom: 0.3125rem;
}
.toggle-header-element {
    display: none;
    cursor: pointer;
    font-size: 1.25rem;
    transition: transform .25s ease-in-out;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}
/* sticky */
.sticky-wrapper:not(.is-sticky) {
    height: unset!important;
}
.sticky-wrapper.is-sticky .header.sticky {
    z-index: 3 !important;
    /* padding: 0px 0px; */
    background-color: var(--theme-body-alpa);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    /* box-shadow: var(--shadow); */
    /* background-color: red; */
}
/* .sticky-wrapper.is-sticky .header.sticky .header-container, .header-element {
    padding: 17px 20px;
} */
.sticky-wrapper.is-sticky .header.sticky .breadcrumb {
    margin-bottom: 0;
}
.sticky-wrapper.is-sticky .header.sticky .title,
.sticky-wrapper.is-sticky .header.sticky .subtitle {
    display: none;
}
@media (min-width: 768px) {
    .content .sticky-wrapper.is-sticky .header.sticky {
        margin: 0px -1.25rem;
        width: calc(100% - 270px) !important;
    }
    .sidebar-sm-primary .content .sticky-wrapper.is-sticky .header.sticky {
        width: calc(100% - 100px) !important;
    }
    .sidebar-xs-primary .content .sticky-wrapper.is-sticky .header.sticky {
        width: calc(100% - 70px) !important;
    }
}
@media (max-width: 768px) {
    .content .sticky-wrapper.is-sticky .header.sticky {
        /* padding: 16px 20px; */
        margin: 0px -1.25rem;
        width: calc(100% - 0px) !important;
    }
    .element-collapse .toggle-header-element {
        display: block;
    } 
    .element-collapse.header { 
        display: block;
    }
    .element-collapse .header-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .element-collapse .toggle-header-element > i.icon {
        font-size: 1.25rem
    } 
    .element-collapse .header-element {
        /* left: 0;
        right: 0;
        position: absolute; */
        position: relative;
        display: none;
        padding: 1.25rem;
        z-index: 1;
        margin-top: -0.625rem;
        margin-bottom: 1.25rem;
        /* border-bottom: thin solid rgba(0, 0, 0, 0.01); */
        border-radius: .3125rem;
        /* background-color: rgba(0, 0, 0, .05); */
        background-color: hsl(0, 90%, 47%);
    }
    /* .element-collapse .header-element:after {
        content: '';
        top: -1.25rem;
        right: .75rem;
        position: absolute;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border: 0.625rem solid rgba(0, 0, 0, .05);
    } */
    .element-collapse.show .header-element {
        display: block;
    }
    .element-collapse.show .toggle-header-element {
        transform: rotate(180deg);
    }
    .sticky-wrapper.is-sticky .sticky.element-collapse .header-element {
        margin-top: 10px;
    }
}

/**
 * # Breadcrumb
**/

.breadcrumb {
    padding: 0;
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.breadcrumb-item + .breadcrumb-item::before,
.breadcrumb-item.active {
    color: rgba(255, 255, 255, 0.9);
}

/**
 * # Card
**/

.card {
    border: none;
    margin-bottom: 1.25rem;
    border-radius: .25rem;
    box-shadow: 0px 1px 2px rgba(78, 80, 83, .1);     
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
            transition: all .6s cubic-bezier(.165, .84, .44, 1);
}
.card-header {
   padding: 1rem 1.25rem;
   border-color: transparent;
   background-color: transparent;
}
.card-header .card-title {
   margin-bottom: 0;
   font-weight: bold;
}
.card-body { 
   padding: 1.5625rem 1.25rem;
}
.card-body-group .card-body {
   border-bottom: 1px solid var(--theme-border-main);
}
.card-body-group .card-body:last-child {
   border-bottom-color: transparent !important;
}
.card.fixed-top .card-body-group {
   height: calc(100vh - 52px);
}

/**
 * # Button
**/

.btn {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-icon {
    position: relative;
    width: 31px;
    height: 31px;
    line-height: 31px;
    padding: 0 !important;
}
.btn.focus,
.btn:focus,
.btn:active:focus {
    /* box-shadow: none !important; */
}
.btn-link {
    color: var(--theme-color-main);
    border-color: transparent;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
    box-shadow: none;
    color: var(--theme-color-main);
    text-decoration: underline;
    background: transparent;
}
.btn-theme,
.btn-outline-theme:not(:disabled):not(.disabled):not(.btn-transparent):hover {
    background-color: var(--theme-color-main);
    border-color: var(--theme-color-main);
    color: #ffffff;
}
.btn-theme.active,
.btn-outline-theme.active,
.btn-theme:hover,
.btn-theme:focus,
.btn-theme.focus {
    color: #ffffff;
    background-color: var(--theme-color-deep);
    border-color: var(--theme-color-deep);
    box-shadow: var(--theme-shadow-main);
}
.btn-theme.disabled,
.btn-theme:disabled {
    background-color: var(--theme-color-light);
    border-color: var(--theme-color-light);
    color: #ffffff;
    box-shadow: none;
}
.btn-primary,
.btn-outline-primary:not(:disabled):not(.disabled):not(.btn-transparent):hover {
    background-color: var(--color-primary-main);
    border-color: var(--color-primary-main);
    color: #ffffff;
}
.btn-primary.active,
.btn-outline-primary.active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
    color: #ffffff;
    background-color: var(--color-primary-deep);
    border-color: var(--color-primary-deep);
    box-shadow: var(--shadow-primary-main);
}
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    color: #ffffff;
    box-shadow: none;
}
.btn-secondary,
.btn-outline-secondary:not(:disabled):not(.disabled):not(.btn-transparent):hover {
    background-color: var(--color-secondary-main);
    border-color: var(--color-secondary-main);
    color: #ffffff;
}
.btn-secondary.active,
.btn-outline-secondary.active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
    color: #ffffff;
    background-color: var(--color-secondary-deep);
    border-color: var(--color-secondary-deep);
    box-shadow: var(--shadow-secondary-main);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
    background-color: var(--color-secondary-light);
    border-color: var(--color-secondary-light);
    color: #ffffff;
    box-shadow: none;
}
.btn-success,
.btn-outline-success:not(:disabled):not(.disabled):not(.btn-transparent):hover {
    background-color: var(--color-success-main);
    border-color: var(--color-success-main);
    color: #ffffff;
}
.btn-success.active,
.btn-outline-success.active,
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
    color: #ffffff;
    background-color: var(--color-success-deep);
    border-color: var(--color-success-deep);
    box-shadow: var(--shadow-success-main);
}
.btn-success.disabled,
.btn-success:disabled {
    background-color: var(--color-success-light);
    border-color: var(--color-success-light);
    color: #ffffff;
    box-shadow: none;
}
.btn-danger,
.btn-outline-danger:not(:disabled):not(.disabled):not(.btn-transparent):hover {
    background-color: var(--color-danger-main);
    border-color: var(--color-danger-main);
    color: #ffffff;
}
.btn-danger.active,
.btn-outline-danger.active,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
    color: #ffffff;
    background-color: var(--color-danger-deep);
    border-color: var(--color-danger-deep);
    box-shadow: var(--shadow-danger-main);
}
.btn-danger.disabled,
.btn-danger:disabled {
    background-color: var(--color-danger-light);
    border-color: var(--color-danger-light);
    color: #ffffff;
    box-shadow: none;
}
.btn-warning,
.btn-outline-warning:not(:disabled):not(.disabled):not(.btn-transparent):hover {
    background-color: var(--color-warning-main);
    border-color: var(--color-warning-main);
    color: #ffffff;
}
.btn-warning.active,
.btn-outline-warning.active,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
    color: #ffffff;
    background-color: var(--color-warning-deep);
    border-color: var(--color-warning-deep);
    box-shadow: var(--shadow-warning-main);

}
.btn-warning.disabled,
.btn-warning:disabled {
    background-color: var(--color-warning-light);
    border-color: var(--color-warning-light);
    color: #ffffff;
    box-shadow: none;
}
.btn-info,
.btn-outline-info:not(:disabled):not(.disabled):not(.btn-transparent):hover {
    background-color: var(--color-info-main);
    border-color: var(--color-info-main);
    color: #ffffff;
}
.btn-info.active,
.btn-outline-info.active,
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
    color: #ffffff;
    background-color: var(--color-info-deep);
    border-color: var(--color-info-deep);
    box-shadow: var(--shadow-info-main);

}
.btn-info.disabled,
.btn-info:disabled {
    background-color: var(--color-info-light);
    border-color: var(--color-info-light);
    color: #ffffff;
    box-shadow: none;
}
.btn-outline-primary:hover,
.btn-outline-secondary:hover,
.btn-outline-info:hover,
.btn-outline-success:hover,
.btn-outline-warning:hover,
.btn-outline-danger:hover {
	color: #ffffff;
}
.btn-shadow.btn-outline-light.disabled:hover,
.btn-shadow.btn-outline-light:disabled:hover,
.btn-shadow.btn-outline-deep.disabled:hover,
.btn-shadow.btn-outline-deep:disabled:hover,
.btn-shadow.btn-primary.disabled:hover,
.btn-shadow.btn-primary:disabled:hover,
.btn-shadow.btn-secondary.disabled:hover,
.btn-shadow.btn-secondary:disabled:hover,
.btn-shadow.btn-success.disabled:hover,
.btn-shadow.btn-success:disabled:hover,
.btn-shadow.btn-danger.disabled:hover,
.btn-shadow.btn-danger:disabled:hover,
.btn-shadow.btn-warning.disabled:hover,
.btn-shadow.btn-warning:disabled:hover,
.btn-shadow.btn-info.disabled:hover,
.btn-shadow.btn-info:disabled:hover{
    box-shadow: none;
}
.btn-outline-theme,
.btn-outline-theme.disabled:hover,
.btn-outline-theme.disabled,
.btn-outline-theme:disabled,
.btn-outline-theme:disabled:hover,
.btn-outline-theme.btn-transparent:hover {
    background-color: transparent;
    background-image: none;
    color: var(--theme-color-main);
    border-color: var(--theme-color-main);
}
.btn-outline-theme:hover {
    color: #ffffff;
}
.btn-outline-primary,
.btn-outline-primary.disabled:hover,
.btn-outline-primary.disabled,
.btn-outline-primary:disabled,
.btn-outline-primary:disabled:hover,
.btn-outline-primary.btn-transparent:hover {
    background-color: transparent;
    background-image: none;
    color: var(--color-primary-main);
    border-color: var(--color-primary-main);
}
.btn-outline-primary:hover {
    color: #ffffff;
}
.btn-outline-secondary,
.btn-outline-secondary.disabled:hover,
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled,
.btn-outline-secondary:disabled:hover,
.btn-outline-secondary.btn-transparent:hover {
    background-color: transparent;
    background-image: none;
    color: var(--color-secondary-main);
    border-color: var(--color-secondary-main);
}
.btn-outline-success,
.btn-outline-success.disabled:hover,
.btn-outline-success.disabled,
.btn-outline-success:disabled,
.btn-outline-success:disabled:hover,
.btn-outline-success.btn-transparent:hover {
    background-color: transparent;
    background-image: none;
    color: var(--color-success-main);
    border-color: var(--color-success-main);
}
.btn-outline-danger,
.btn-outline-danger.disabled:hover,
.btn-outline-danger.disabled,
.btn-outline-danger:disabled,
.btn-outline-danger:disabled:hover,
.btn-outline-danger.btn-transparent:hover {
    background-color: transparent;
    background-image: none;
    color: var(--color-danger-main);
    border-color: var(--color-danger-main);
}
.btn-outline-warning,
.btn-outline-warning.disabled:hover,
.btn-outline-warning.disabled,
.btn-outline-warning:disabled,
.btn-outline-warning:disabled:hover,
.btn-outline-warning.btn-transparent:hover {
    background-color: transparent;
    background-image: none;
    color: var(--color-warning-main);
    border-color: var(--color-warning-main);
}
.btn-outline-info,
.btn-outline-info.disabled:hover,
.btn-outline-info.disabled,
.btn-outline-info:disabled,
.btn-outline-info:disabled:hover,
.btn-outline-info.btn-transparent:hover {
    background-color: transparent;
    background-image: none;
    color: var(--color-info-main);
    border-color: var(--color-info-main);
}
.btn-transparent {
    color: var(--theme-color-main);
    background: transparent;
    border-color: transparent;
}
.btn-transparent[class*="text-"]:not([class*="btn-outline-"]):hover {
    color: #ffffff!important;
}
.btn-transparent.disabled,
.btn-transparent.disabled:hover {
    opacity: .5;
    color: var(--theme-color-main);
    background: transparent;
    border-color: transparent;
}
.btn-theme:not(.btn-transparent) {
    box-shadow: var(--theme-shadow-btn);
}
.btn-theme:not(.btn-transparent):hover {
    box-shadow: var(--theme-shadow-main);
}
.btn-primary:not(.btn-transparent) {
    box-shadow: var(--shadow-primary-btn);
}
.btn-primary:not(.btn-transparent):hover {
    box-shadow: var(--shadow-primary-main);
}
.btn-secondary:not(.btn-transparent) {
    box-shadow: var(--shadow-secondary-btn);
}
.btn-secondary:not(.btn-transparent):hover {
    box-shadow: var(--shadow-secondary-main);
}
.btn-success:not(.btn-transparent) {
    box-shadow: var(--shadow-success-btn);
}
.btn-success:not(.btn-transparent):hover {
    box-shadow: var(--shadow-success-main);
}
.btn-danger:not(.btn-transparent) {
    box-shadow: var(--shadow-danger-btn);
}
.btn-danger:not(.btn-transparent):hover {
    box-shadow: var(--shadow-danger-main);
}
.btn-warning:not(.btn-transparent) {
    box-shadow: var(--shadow-warning-btn);
}
.btn-warning:not(.btn-transparent):hover {
    box-shadow: var(--shadow-warning-main);
}
.btn-info:not(.btn-transparent) {
    box-shadow: var(--shadow-info-btn);
}
.btn-info:not(.btn-transparent):hover {
    box-shadow: var(--shadow-info-main);
}

/**
 * # Login
**/

body .main.login {
    height: 100vh;
    align-items: center;
}
body .main.login .content {
    padding: 1.25rem;
}
.main.login .copyright {
    font-size: 12px;
    margin-top: 25px;
}
@media only screen and (min-width: 768px) {
    body .main.login .card {
        max-width: 450px;
    }
} 

/**
 * # Table
**/

.table thead th {
    border-color: var(--theme-border-main);
}
.table td, .table th {
    outline: 0;
    border-color: var(--theme-border-light);
}
.table td, .table th {
    vertical-align: middle;
    padding: 1rem 1.25rem;
}
.table-xl td, .table-xl th {
    padding: 1.25rem 1.25rem;
}
.table-sm td, .table-sm th {
    padding: .625rem 1.25rem;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0 , 0, 0, .03)
}
.table-hover tbody tr:hover {
    background-color: var(--theme-color-alpha-5);
}
.table td .action {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
}
table.fancytree-ext-table span.fancytree-node {
    display: flex;
}
table.fancytree-ext-table tr td.action:last-child {
    border-bottom-color: transparent;
    border-right: transparent;
}
table.fancytree-ext-table tr:first-child td.action:last-child {
    border-top-color: transparent;
}
.dt-button-info {
    border-color: transparent !important;
    box-shadow: var(--shadow) !important;
}
.dt-button-info h2 {
    background-color: transparent !important;
    font-weight: bold !important;
    font-size: 1rem !important;
    border-bottom: none !important;
}
.table-crud.table td, 
.table-crud.table th {
    vertical-align: top
}

/**
 * # DataTable
**/

table.dataTable {
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.datatable-scroll-wrap {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.select2-container .select2-selection--multiple {
    min-height: calc(2.25rem + .125rem);
}
.dataTables_paginate .paginate_button .page-link {
    padding: 0.5rem 0.75rem;
}
.dataTables_length > label {
    margin-bottom: 0;
    width: 100%;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
}
.dataTables_filter input {
    display: block;
    width: 100%;
    height: calc(2.25rem + .125rem);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--theme-font);
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid var(--theme-border-deep);
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.datatable-header .select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 0;
    padding-left: 0;
    padding-right: 1.5625rem;
}
.datatable-header,
.datatable-footer {
    padding: 1.46rem 1.25rem 0 1.25rem;
}
.datatable-footer {
    border-top: 1px solid var(--theme-border-main);
}
.dataTables_filter label {
    display: block;
    margin-bottom: 0;
}
.dataTables_filter .form-custom .form-custom-icon {
    padding: 0.475rem 0.75rem;
}
.dataTables_filter .form-custom-icon .icon {
    font-size: 1.125rem !important;
}
.dataTables_filter {
    margin: 0 0 1.46rem 0;
    float: left;
}
.dataTables_length {
    float: right;
    margin: 0 0 1.46rem 1.25rem;
}
div.dt-buttons {
    margin: 0 0 1.46rem 0;
    float: right;
}
.dataTables_info {
    float: left;
    padding-bottom: 1.46rem;
}
.dataTables_paginate {
    float: right;
    padding-bottom: 1.46rem;
}
.dataTables_length .select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0 1.25rem 0 0;
}
.dataTables_wrapper .btn-export {
    box-shadow: none;
    background: #fff;
    border-color: var(--theme-border-deep);
    color: var(--theme-font);
}
.dataTables_wrapper .btn-export:hover {
    box-shadow: none;
    color: var(--theme-color-main);
    border-color: var(--theme-color-main);
}
table.dataTable>tbody>tr.child ul.dtr-details {
    width: 100%;
}
table.dataTable > tbody > tr.child ul.dtr-details > li {
    border-color: var(--theme-border-light);
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before {
    top: unset
}
@media only screen and (max-width: 768px) {
    .dataTables_filter {
        float: none;
    }
    .dataTables_length {
        float: none;
        margin-left: 0;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        width: 100% !important;
        display: block !important;
    }
    .dataTables_length .select2-container {
        width: 100% !important;
    }
    .dataTables_paginate,
    .dataTables_info {
        float: none;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center;
    }
}

/**
 * # Pagination
**/

.page-link {
    color: var(--theme-font);
    border-color: var(--theme-border-main);
    background-color: transparent;
}
.page-link:focus {
    box-shadow: none;
}
.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    border-color: transparent;
    background: var(--theme-color-main);
    height: 100%;
}
.page-item .page-link > span {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    height: 100%;
    -ms-flex-align: center;
       align-items: center;
}
.pagination .page-link > span i {
    top: 1px;
    margin: 0 .3125rem;
    line-height: 1.0625rem;
}
.page-item:not(.active) .page-link:hover {
    color: var(--theme-color-main);
    background: var(--theme-color-alpha-7);
    border-color: var(--theme-color-alpha-7);
}
.page-item.disabled .page-link {
    color: rgba(0, 0, 0, .5);
}
.pagination-transparent .page-item.disabled .page-link {
    background: transparent;
}
.pagination-separated .page-link {
    margin-left: .9375rem;
    border-radius: .1875rem;
}
.pagination-pill .page-item:first-child .page-link {
    border-top-left-radius: 6.25rem;
    border-bottom-left-radius: 6.25rem;
}
.pagination-pill .page-item:last-child .page-link {
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
}
.pagination-transparent .page-link {
    border: 0;
    margin: 0 .1125rem;
    border-radius: .25rem;
}
.pagination-circle .page-item:not(:first-child):not(:last-child) .page-link {
    text-align: center;
    padding: 0;
    line-height: 2.25rem;
    width: 2.25rem;
    height: 2.25rem;
}
.pagination-circle .page-item:first-child .page-link,
.pagination-circle .page-item:last-child .page-link {
    border-radius: 6.25rem;
}
.pagination-circle.pagination-transparent .page-item .page-link {
    border-radius: 100%;
}
.pagination-circle:not(.pagination-transparent):not(.pagination-separated):not(.pagination-pager) .page-item:first-child {
    margin-right: 2rem;
}
.pagination-circle:not(.pagination-transparent):not(.pagination-separated):not(.pagination-pager) .page-item:last-child {
    margin-left: 2rem;
}
.pagination-circle:not(.pagination-transparent):not(.pagination-separated):not(.pagination-pager) .page-item:not(:first-child):not(:last-child) {
    padding: .3125rem;
    border-top: 1px solid var(--theme-border-main);
    border-bottom: 1px solid var(--theme-border-main);
}
.pagination-circle:not(.pagination-transparent):not(.pagination-separated):not(.pagination-pager) .page-item:nth-child(2) {
    border-radius: 6.25rem 0 0 6.25rem;
    border-left: 1px solid var(--theme-border-main);
}
.pagination-circle:not(.pagination-transparent):not(.pagination-separated):not(.pagination-pager) .page-item:nth-last-child(2) {
    border-radius: 0 6.25rem 6.25rem 0;
    border-right: 1px solid var(--theme-border-main);
}
.pagination-circle:not(.pagination-transparent):not(.pagination-separated):not(.pagination-pager) .page-item:not(:first-child):not(:last-child) .page-link {
    border-radius: 100%;
    border-color: transparent;
}
.pagination-circle:not(.pagination-transparent):not(.pagination-separated):not(.pagination-pager) .page-item:first-child .page-link,
.pagination-circle:not(.pagination-transparent):not(.pagination-separated):not(.pagination-pager) .page-item:last-child .page-link {
    width: 2.9375rem;
    height: 2.9375rem;
    line-height: 2.9375rem;
    text-align: center;
    border-color: var(--theme-border-main);
}
.pagination-circle.pagination-transparent .page-item:first-child .page-link,
.pagination-circle.pagination-transparent .page-item:last-child .page-link {
    border-radius: 6.25rem;
}
.pagination-transparent .page-item.active .page-link,
.pagination-separated .page-item.active .page-link {
    box-shadow: var(--theme-shadow-main);
    border: 0;
}
.pagination-pager.pagination-pill .page-item:first-child .page-link {
    border-top-right-radius: .1875rem;
    border-bottom-right-radius: .1875rem;
}
.pagination-pager.pagination-pill .page-item:last-child .page-link {
    border-top-left-radius: .1875rem;
    border-bottom-left-radius: .1875rem;
}
.pagination.pagination-center-content {
    position: relative;
    justify-content: center;
}
.pagination-center-content li.page-item {
    text-align: center;
}
.pagination-center-content li.page-item:first-child {
    position: absolute;
    left: 0;
}
.pagination-center-content li.page-item:last-child {
    position: absolute;
    right: 0;
}
.pagination-center-content li.page-item:first-child .page-link,
.pagination-center-content li.page-item:last-child .page-link {
    border-radius: .1875rem;
}
.pagination-center-content li.page-item:nth-child(2) .page-link {
    border-top-left-radius: .1875rem;
    border-bottom-left-radius: .1875rem;
}
.pagination-center-content li.page-item:nth-last-child(2) .page-link {
    border-top-right-radius: .1875rem;
    border-bottom-right-radius: .1875rem;
}
@media only screen and (max-width: 768px) {
    .pagination-center-content li.page-item:first-child,
    .pagination-center-content li.page-item:last-child {
        position: static;
    }
}
.pagination .icon {
    font-size: 1rem;
}
ul.pagination[class*="bg-"] {
    background: transparent !important;
}
.bg-primary .page-item.active .page-link {
    background: var(--color-primary-main) !important;
}
.bg-secondary .page-item.active .page-link {
    background: var(--color-secondary-main) !important;
}
.bg-success .page-item.active .page-link {
    background: var(--color-success-main) !important;
}
.bg-danger .page-item.active .page-link {
    background: var(--color-danger-main) !important;
}
.bg-warning .page-item.active .page-link {
    background: var(--color-warning-main) !important;
}
.bg-info .page-item.active .page-link {
    background: var(--color-info-main) !important;
}

/**
 * # Input
**/

.custom-file-label,
.form-control {
    color: var(--theme-font);
    border-color: var(--theme-border-deep);
}
.form-control:focus,
.form-control-plaintext:focus,
.custom-file-input:focus  ~  .custom-file-label {
    border-color: var(--theme-color-main);
    box-shadow: inset 0 0 0 1px var(--theme-color-main);
}
.form-control.valid,
.custom-select.valid,
.form-control.is-valid,
.custom-select.is-valid,
.custom-file-input.is-valid ~ .custom-file-label,
.was-validated .form-control:valid,
.was-validated .custom-select:valid,
.was-validated .custom-file-input:valid ~ .custom-file-label,
.form-control.is-valid:focus,
.custom-select.is-valid:focus,
.was-validated .form-control:valid:focus,
.was-validated .custom-select:valid:focus,
.custom-select.valid:focus,
.form-control.valid:focus {
    border-color: var(--color-success-main) !important;
    box-shadow: inset 0 0 0 1px var(--color-success-main) !important;
}
.form-control.invalid,
.custom-select.invalid,
.custom-file-input.invalid ~ .custom-file-label,
.form-control.is-invalid,
.custom-select.is-invalid,
.custom-file-input.is-invalid ~ .custom-file-label,
.form-control.error,
.custom-select.error,
.was-validated .form-control:invalid,
.was-validated .custom-select:invalid,
.was-validated .custom-file-input:invalid ~ .custom-file-label,
.form-control.is-invalid:focus,
.custom-select.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.was-validated .custom-select:invalid:focus,
.custom-select.error:focus,
.form-control.invalid:focus,
.custom-select.invalid:focus,
.form-control.error:focus {
    border-color: var(--color-danger-main) !important;
    box-shadow: inset 0 0 0 1px var(--color-danger-main) !important;
    padding-right: inherit;
}
.form-control.is-invalid, 
.was-validated .form-control:invalid {
    background-image: none;

}
.form-control:disabled, .form-control[readonly],
.select2-container--default.select2-container--disabled .select2-selection--single {
    opacity: .7;
    background-color: #e9ecef94;
}
.form-custom {
    position: relative;
}
.form-custom .form-custom-icon {
    top: 0px;
    position: absolute;
    padding: .375rem .75rem;
}
.form-custom .form-control-lg ~.form-custom-icon {
    padding: .625rem .75rem;
}
.form-custom .form-control-sm ~.form-custom-icon {
    padding: .1875rem .75rem;
}
.form-custom .form-custom-icon i {
    font-size: 1.125rem;
}
.form-custom .form-control-sm ~ .form-custom-icon i {
    font-size: 1rem;
}
.form-custom .form-control-lg ~ .form-custom-icon i {
    font-size: 1.25rem;
}  
.form-custom.form-custom-left .form-custom-icon {
    left: 0;
}
.form-custom.form-custom-left .form-control {
    padding-left: calc(2.875rem + -.75rem);
}
.form-custom.form-custom-right .form-custom-icon {
    right: 0;
}
.form-custom.form-custom-right .form-control {
    padding-right: calc(2.875rem + -.75rem);
}
.form-description .form-control:not(.is-from) {
    border: 0;
    height: auto;
    border-radius: 0;
    padding-left: 0;
    margin-bottom: .625rem;
    background-color: transparent;
    border-bottom: thin solid var(--theme-border-main);
}
.form-description .col-form-label {
    padding-bottom: 0;
    color: var(--theme-font);
    opacity: .7;
}
.form-description .form-group {
    margin-bottom: 0;
}
.input-group-text {
    border-color: var(--theme-border-deep);
}
.form-group {
    margin-bottom: 1.25rem;
}
@media only screen and (min-width: 768px) {
    .form-group:last-child {
        margin-bottom: 0;
    }
} 
select.form-control {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    /* width: 268px; */
    /* padding: 5px; */
    /* font-size: 16px; */
    /* line-height: 1; */
    /* border: 0; */
    /* border-radius: 5px; */
    /* height: 34px; */
    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Chevron Down</title><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='25' d='M112 184l105 105 103-103'/></svg>") no-repeat right 2px #fff;
    -webkit-appearance: none;
    background-position-x: 98%;
}
/**
 * # Select2
**/

/* .select2-container {
    width: 100% !important;
} */
.select2-container .select2-selection {
    outline: 0 !important;
    /* border-radius: .1875rem; */
    /* border-color: var(--theme-color-main); */
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border-color: var(--theme-border-deep);    
    border-radius: .25rem;
}
.select2-container .select2-selection--single {
    height: calc(2.25rem + .125rem);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--theme-font);
    line-height: 1.5;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding: .375rem .75rem;
}
.select2-container--open.select2-container--default:not(.select2-container--disabled) .select2-selection--multiple,
.select2-container--focus.select2-container--default:not(.select2-container--disabled) .select2-selection--multiple,
.select2-container--open.select2-container--default:not(.select2-container--disabled) .select2-selection--single,
.select2-container--focus.select2-container--default:not(.select2-container--disabled) .select2-selection--single {
    border-color: var(--theme-color-main);
    box-shadow: inset 0 0 0 1px var(--theme-color-main);
}
.select2-dropdown {
    box-shadow: var(--shadow-dropdown);
    border-color: var(--theme-border-main); 
    border-radius: .25rem;    
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: var(--theme-color-main);
    background-color: rgba(0, 0, 0, 0.05);
}
.select2-container--default .select2-results__option[aria-selected=true] {
    color: var(--theme-color-main);
    background-color: var(--theme-color-alpha-7);
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    color: var(--theme-font);
    background-color: #fff;
    border-radius: .25rem;
    height: calc(2.25rem + 2px);
    border: 1px solid var(--theme-border-deep);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* .select2-container--default .select2-search--dropdown {
    padding: .375rem .75rem;
} */
.select2-selection .select2-selection__clear {
    speak: none;
    line-height: 1;
    content: "\edfc";
    margin-top: .4375rem;
    text-transform: none;
    color: var(--bg-opacity);
    font-size: .875rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: 'Lindua' !important;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-right: .9375rem;
}
.select2-selection:focus .select2-selection__clear,
.select2-container--focus .select2-selection__clear,
.select2-container--open .select2-selection .select2-selection__clear {
    color: var(--color-danger-main);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: .6875rem;
    right: .4375rem;
    height: auto;
}
/* .select2-container--default .select2-selection--single.form-control-sm .select2-selection__arrow,
.select2-container--default .select2-selection--single.input-sm .select2-selection__arrow {
    top: 9px;
} */
.select2-container .select2-selection .select2-selection__arrow b {
    border: 0;
}
.select2-container .select2-selection .select2-selection__arrow b:after {
    /* top: -3px; */
    line-height: 1;
    font-size: rem;
    content: "\f3d0";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: var(--theme-border-main);
    font-family: 'Ionicons' !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
}
.select2-container--open.select2-container--above .select2-selection__arrow {
    transform: rotate(180deg);
    top: 1.1875rem;
}
.select2-container:not(.select2-container--disabled) .select2-selection:focus .select2-selection__arrow b:after,
.select2-container.select2-container--open:not(.select2-container--disabled) .select2-selection .select2-selection__arrow b:after {
    color: var(--theme-color-main);
}
.select2-container--default .select2-search--dropdown,
.select2-results__option {
    padding: .625rem;
}
.select2-results__option.select2-results__message {
    color: rgba(0, 0, 0, .5);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: none;
    color: #fff;
    padding: 0px .4375rem;
    background-color: var(--theme-color-main);
    border-radius: .25rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white;
    margin-right: 0.3125rem;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: var(--color-danger-light);
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-top: .625rem;
    margin-right: 0;
}
.select2-container .select2-search--inline .select2-search__field {
    padding-left: .3125rem;
}
.form-action.sticky {
    bottom: 0;
    padding: 1.25rem;
    z-index: 999;
    position: fixed;
    width: 0px;
    /* border-radius: 5px; */
    /* margin-bottom: 20px; */
    background-color: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
}

/**
 * # Collapsibles
 */

 .collapse-icon > a {
    text-align: inherit;
}
.collapse-icon > a:before {
    line-height: 1;
    top: 50%;
    speak: none;
    content: "\f217";
    position: absolute;
    text-transform: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: 'Ionicons';
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
            transform: translateY(-50%);
}
.collapse-icon > a {
    position: relative;
    display: block;
    padding-right: 1.875rem;
}
.collapse-icon > a:before {
    right: 0;
}
.collapse-icon > a[aria-expanded=false]:before {
    content: "\f217";
}
.collapse-icon > a[aria-expanded=true]:before {
    content: "\f208";
}
.accordion .card {
    margin-bottom: 0;
    border: thin solid var(--theme-border-light) !important;
    border-bottom: none !important;
}
.accordion .card:last-child {
    border-bottom: thin solid var(--theme-border-light) !important;
}

/**
 * # Border
 */

.border-bottom {
    border-bottom: 1px solid var(--theme-border-main) !important;
}
.form-group > .alert {
    margin-left: .625rem;
    margin-right: .625rem;
    flex-shrink: 1;
}
.form-control[type="file"] {
    font-size: 11px;
}

/* Start Modal Login */
.modal-login {
    top: 0px;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    visibility: hidden;
    background-color: hsla(0, 0%, 0%, 0.8);
}
.modal-login.show {
    opacity: 1;
    visibility: visible;
}
.container-modal-login {
    max-width: 400px;
    margin: 100px auto;
    transition: transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-50px);
            transform: translate(0,-50px);
}
body.has-login {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}
/* End Modal Login */

/* Start Mega Menu */
.navbar .container {
    position: relative;
}
.navbar-nav .nav-item.dropdown-megamenu {
    position: static;
}
.navbar-nav .nav-item.dropdown-megamenu h4 {
    font-size: 14px;    
    margin-bottom: 0px;
    font-weight: bold;
}
.navbar-nav .nav-item.dropdown.dropdown-megamenu > .dropdown-menu {
    /* left: 20px; */
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: 400px;
}
@media only screen and (max-width: 768px) {
    .navbar-expand-lg .navbar-collapse .nav-item.dropdown.dropdown-megamenu > .dropdown-menu {
        /* left: 0;
        right: 0; */
        width: 100%;
        position: relative;
    }
    .navbar-expand-lg .navbar-collapse .navbar-nav .nav-item.dropdown-megamenu {
        position: relative;
    }

}
/* End Mega Menu */

/* Start Register Page */
.register .logo-brand img {
    width: 265px;
}
.register .breadcrumb {
    color: black
}
.register .breadcrumb-item + .breadcrumb-item::before, .register .breadcrumb-item.active {
    color: rgba(0, 0, 0, 0.5);
}
/* End Register Page */

/* Start Highcharts */
.highcharts-container {
    cursor: pointer;
}
/* End Highcharts */

/* Feature Home */
.feature {
    cursor: pointer;
}
.psa-inspection .card,
.inspection-commercial .card {
    height: 200px;
}
.user .card,
.vessel .card,
.sire-review .card,
.csms-audit .card {
    height: 168px;
}
.psa-inspection .child {
    background-image: url('/images/home/psa_inspection.jpg');
}
.inspection-commercial .child {
    background-image: url('/images/home/inspection_commercil.jpg');
}
.inspection-commercial .child {
    background-image: url('/images/home/inspection_commercil.jpg');
}
.vessel .child {
    background-image: url('/images/home/inspection_commercil2.jpg');
}
.user .child {
    background-image: url('/images/home/user.jpg');
}
.csms-audit .child {
    background-position: -55px 0;
    background-image: url('/images/home/csms_audit.jpg');
}
.sire-review .child {
    background-position: -155px 0;
    background-image: url('/images/home/sire_review.jpg');
}
.sub-title {
    opacity: .8;
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
}
.sub-title:hover {
    opacity: 1;
    color: var(--theme-color) !important;
}
.psa-inspection h4 {
    z-index: 1;
    right: 70px;
    bottom: 60px;
    font-size: 24px;
    color: #ffefef;
    font-weight: bold;
    position: absolute;
}
.inspection-commercial h4 {
    z-index: 1;
    left: 40px;
    top: 30px;
    font-size: 24px;
    color: #faffff;
    font-weight: bold;
    position: absolute;
}
.user h4 {
    z-index: 1;
    right: 40px;
    top: 30px;
    font-size: 24px;
    color: #44423f;
    font-weight: bold;
    position: absolute;
}
.vessel h4 {
    z-index: 1;
    left: 40px;
    top: 30px;
    font-size: 24px;
    color: #f2feff;
    font-weight: bold;
    position: absolute;
}
.csms-audit h4 {
    z-index: 1;
    left: 80px;
    bottom: 50px;
    margin-right: 25px;
    font-size: 20px;
    text-align: right;
    color: #3d3d3d;
    font-weight: bold;
    position: absolute;
}
.sire-review h4 {
    z-index: 1;
    left: 30px;
    bottom: 30px;
    font-size: 20px;
    color: #4b4847;
    font-weight: bold;
    position: absolute;
}
.parent {
    position: relative;
    border-radius: .25rem;
    overflow: hidden;
}
.child {
    height: 100%;
    /*width: 100%;*/
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}
.title-feature:hover ~ .parent .child,
.title-feature:focus ~ .parent .child,
.parent:hover .child, 
.parent:focus .child {
    -webkit-transform: scale(1.11);
       -moz-transform: scale(1.11);
        -ms-transform: scale(1.11);
         -o-transform: scale(1.11);
            transform: scale(1.11);
}
.parent:hover .child:before, 
.parent:focus .child:before {
    display: block;
}
.parent:hover a,
.parent:focus a {
    display: block;
}
.child:before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}
@media only screen and (max-width: 576px) {
    .psa-inspection .child {
        background-position: -60px 0;
    }
    .psa-inspection h4 {
        right: 50px;
    }
}
@media only screen and (max-width: 768px) {
    .csms-audit .child {
        background-position: 0;
    }
    .sire-review .child {
        background-position: 0;
    }
    .csms-audit h4 {
        margin-right: 0;
        right: 40px;
        bottom: 30px;
    }
}
.container.jc-bs3-container {
    overflow: hidden;
}
.break-words {
    word-break: break-all;
}
.right-0 {
    right: 0;
}