.overflowMsg {
    max-height: 450px;
    overflow-y: auto;
    width: 250px;
}
pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}
.dateSearch {
    cursor: pointer;    
}
.wrapper-page-load {
    /*width: 100%;*/
}
.string {
    color: green;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
    display: inline-block;
    z-index: 99999 !important;
}
.ui-timepicker-container {
    z-index: 9999999 !important
}
.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}
.sidebar-content{
    background:white;
}
div.d-flex.col-6 {
    padding-left: 0px !important;
}
.page-link {
    width: 100% !important;
}
.page-item.previous{
    padding-right:10px;
}
.page-item.next {
    padding-left: 5px;
}
ul.nav.nav-sidebar {
    background-color: white !important;
}
span.border-0.mr-2{
   display:none !important;
}
div.text-black.ml-4 {
    margin-left: 20px !important;
}
a.d-flex.text-green {
    font-weight: bold !important;
}
div.d-flex.text-green {
    font-weight: bold !important;
}
.nav-sidebar .nav-item:not(.nav-item-header):first-child {
    padding-top: 5px !important;
}
.nav-link.mb-2 {
    margin-left: 20px !important;
}
.nav-sidebar .nav-item:not(.nav-item-header):last-child, .nav-link.mb-2 {
    margin-bottom : 0 !important;
}
.edit-icon, .add-icon, .del-icon, .custom-icon {
    margin-right: 5px;
    font-size: 15px;
    margin-top: 3px;
}
#tableBreakDownSCW_info, #tableBreakDownSCW_processing {
    color: black !important;
}
.bg-scw-linier {
    background-color: #ff000012;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    line-height: 18px;
}
.bg-green-linier {
    background-color: #afcebe;
    border-radius: 8px;
    color:white;
    font-weight:bold;
    line-height: 18px;
}

.btn-red {
    color: #ffffff !important;
    background-color: #f44336 !important;
    border-radius: 8px;
}
.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border-radius: 3px;
}
.nav-tabs-custom > .nav-tabs {
    margin: 0;
    border-bottom-color: #dbdbdb;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.nav-tabs > li > a {
    position: relative;
    display: block;
    padding: 10px 15px 10px 0px;
}
.nav-tabs-custom > .nav-tabs > li:first-of-type {
    margin-left: 0;
}
.nav-tabs-custom > .nav-tabs > li > a.active {
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 3px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav > li {
    position: relative;
    display: block;
}
.nav-tabs-custom > .nav-tabs > li > a.active {
    border-top-color: green;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}


.nav-tabs-custom > .nav-tabs > li:first-of-type {
    margin-left: 0;
}

.nav-tabs-custom > .nav-tabs > li {
    border-top: 5px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs-custom > .tab-content {
    background: #fff;
    padding: 10px 0 0 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#slidesEngine {
    overflow: hidden;
    position: relative;
    width: 100%;
}

#slidesEngine ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#slidesEngine li {
    width: 100%;
    float: left;
    position: relative;
    font-family: lato, sans-serif;
    font-size:13pt;
}

input[type="file"] {
    display: block;
}

.imageThumb {
    max-height: 200px;
    border: 2px solid;
    padding: 1px;
    cursor: pointer;
}

.pip {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: auto;
    height: auto;
}

.pip-revisi {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: auto;
    height: auto;
}

.remove {
    display: block;
    background: #444;
    border: 1px solid black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.remove:hover {
    background: white;
    color: black;
}
.datepicker-dropdown {
    z-index: 1000000 !important;
}

fieldset {
    border: 1px solid #dddddd;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 0 !important;
}

legend {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    border: none !important;
    margin-bottom: 0 !important;
}

legend div {
    background-color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

legend div.line {
    flex: 1 1 auto;
    background-color: transparent;
}

legend div.line:before {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0px;
    right: 0px;
    top: 50%;
    border-top: 1px solid #dddddd;
}

.div-center {
    display: flex;
    align-items: center;
    justify-content: center;
}