﻿@using ePM_frontend.Services.System.Models;
@using ePM_frontend.Helpers;
@{

    var RoleAccess = HttpContextAccessor.HttpContext.Session.GetString("RoleAccess");
    List<string> listAuth = GlobalFunction.converListAuth(RoleAccess);
    List<MenuModel> ListParent = SideBarHelper.getParentMenu();
}
<script>
    function checkAkses(param, action) {
        var roleAkses = "@RoleAccess";
        const arrayMenu = roleAkses.split("|");
        var result = false;
        $.each(arrayMenu, function (i, item) {
            if (item.includes(param)) {
                const arrayAkses = item.split("=")[1];
                const HakAkses = arrayAkses.split("");
                if (action == 1) {
                    result = HakAkses[1] == "1" ? true : false;
                }
                if (action == 2) {
                    result = HakAkses[2] == "1" ? true : false;
                }
                if (action == 3) {
                    result = HakAkses[3] == "1" ? true : false;
                }
                if (action == 4) {
                    result = HakAkses[4] == "1" ? true : false;
                }
            }
        });
        return result;
    }
</script>
<div class="sidebar sidebar-main sidebar-expand-md sidebar-fixed">
    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>

    <!-- Sidebar content -->
    <div class="sidebar-content">
        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">
                @{
                    if (listAuth != null)
                    {
                        foreach (MenuModel Parent in ListParent)
                        {
                            string exist1 = listAuth.Find(f => f.Contains(Parent.MenuID));
                            if (!string.IsNullOrEmpty(exist1))
                            {
                                char[] value = exist1.Split('=')[1].ToCharArray();
                                if (value[0] == '1')
                                {
                                    List<MenuModel> ListMenuChild = SideBarHelper.getListChildMenu(Parent.MenuID);
                                    if (ListMenuChild.Count > 0)
                                    {

                                        <li class="nav-item nav-item-submenu">
                                            <a class="nav-link d-flex align-items-center"><i data-eva="@Parent.MenuIcon" data-eva-fill="#878787"
                                data-eva-animation="pulse" width="16"></i><span>@Parent.MenuDescription</span></a>
                                            <ul class="nav nav-group-sub" data-submenu-title="@Parent.MenuName">
                                                @{
                                                    foreach (MenuModel Child in ListMenuChild.OrderBy(x => x.Ordering))
                                                    {
                                                        string exist2 = listAuth.Find(f => f.Contains(Child.MenuID));
                                                        if (!string.IsNullOrEmpty(exist2))
                                                        {
                                                            char[] value1 = exist2.Split('=')[1].ToCharArray();
                                                            if (value1[0] == '1')
                                                            {
                                                                <li class="nav-item">
                                                                    <a data-menu="@Parent.MenuName.Replace(" ", "")/@Child.MenuName.Replace(" ", "")"
                                        class="sub-menu nav-link mb-2">
                                                                        @Child.MenuDescription
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <a data-menu="@Uri.UnescapeDataString(Parent.MenuName.Replace(" ", ""))"
                            class="main-menu nav-link d-flex align-items-center">
                                                <i data-eva="@Parent.MenuIcon" data-eva-fill="#878787" data-eva-animation="pulse"
                                width="16"></i>
                                                <span>@Parent.MenuDescription</span>
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        }
                    }
                }
            </ul>
        </div>
    </div>
</div>