﻿@{
    var Name = HttpContextAccessor.HttpContext.Session.GetString("Name");
    var Rolename = HttpContextAccessor.HttpContext.Session.GetString("Rolename");
    var RoleID = HttpContextAccessor.HttpContext.Session.GetString("RoleID");
}
<div class="navbar navbar-expand-md fixed-top">
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item d-flex align-items-center">
                <a href="#" class="sidebar-main-toggle d-none d-md-block">
                    <i data-eva="menu-2-outline" data-eva-fill="limegreen" data-eva-animation="pulse"></i>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                    <img src="~/dist/img/image.png" class="rounded-circle mr-2" height="34" alt="">
                    <div class="text-grey">
                        <div class="text-black font-weight-bold">@Name</div>
                        <div>@Rolename</div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="@Url.Action("logout", "_backyard")" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->