﻿@{
    ViewData["Title"] = "CRUD BASIC";
}
<script src="/dist/js/datetimepicker.js"></script>
<div class="content-wrapper" id="page-content" data-controller="@ViewContext.RouteData.Values["controller"].ToString()"
    data-action="@ViewContext.RouteData.Values["action"].ToString()">
    <div class="page-header">
        <div class="page-header-content header-elements-md-inline mb-4">
            <h5 class="font-weight-bold">SAMPLE QUERY ONE TO MANY</h5>
        </div>
        <div class="text-black ml-4 font-weight-bold"><b>List Address of Employee</b></div>
    </div>


    <div class="content">
        <form id="search-form-master">
            <div class="d-flex justify-content-between rounded">
                <div class="d-flex  col-6">
                    <span class="input-group-text border-0 mr-2" id="search-addon">
                        <i data-eva="search-outline" data-eva-fill="#8D918F" data-eva-animation="pulse" width="16"></i>
                    </span>
                    <input type="search" name="keyword" class="form-control rounded" placeholder="Search Address"
                        aria-label="Search" aria-describedby="search-addon" />
                </div>
                <div>
                    @if (ViewBag.aksesAdd)
                    {
                        <div class="d-flex align-items-center text-green p-2" style="background: #E2F3EA;cursor: pointer;"
                        onclick="createForm()">
                            <i class="icon-add add-icon"></i>
                            Add Address
                        </div>
                    }
                </div>
            </div>
        </form>
        <div class="card-datatable table-responsive">
            <table class="table table-striped mt-0" id="tableMaster" style="width:100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Type</th>
                        <th>Address</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modalForm" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
            </div>
            <div class="modal-body">
                <input type="hidden" class="formInputText" id="typeForm" />
                <input type="hidden" class="formInputText" id="AddressID" />
                <div class="mb-4">
                    <span class="text-black"><b>Select Employee</b></span>
                    <select class="custom-select formInputSelect form-control" id="EmployeeID" name="EmployeeID"
                            required></select>
                </div>
                <div class="mb-4">
                    <span class="text-black"><b>Type</b></span>
                    <select class="custom-select" id="Type" name="Type" required>
                        <option value="PRIBADI">PRIBADI</option>
                        <option value="ORANGTUA">ORANGTUA</option>
                        <option value="SAUDARA">SAUDARA</option>
                    </select>
                </div>
                <div class="mb-4">
                    <span class="text-black"><b>Address</b></span>
                    <textarea class="form-control formInputText" placeholder="Content Address" id="Address" rows="5"
                              style="resize:none"></textarea>
                </div>
                
                <div class="d-flex justify-content-center">
                    <a class="btn btn-green-linier d-flex justify-content-center align-items-center col-5 mr-2"
                        onclick="closeForm();">
                        <i class="icon-cancel-square custom-icon"></i>
                        Cancel
                    </a>
                    <button class="btn btn-green d-flex justify-content-center align-items-center col-5"
                        onclick="submitData();">
                        <i class="icon-floppy-disk custom-icon"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>