﻿<div class="content-wrapper" id="page-content">
    <div class="content">
        <div id="content-wo" style="display: none;">
        </div>
        <div id="content-oee" style="display: block;">
            <h1 class="text-white-linier mb-2 mt-4 text-center">WAHYU NUGROHO INDRAWINATA</h1>
        </div>
    </div>
</div>
